# SPDX-FileCopyrightText: Copyright (c) 2025 Max Trunnikov
# SPDX-License-Identifier: MIT
---
name: grunt
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: grunt-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      matrix:
        os: [ windows-2022, ubuntu-24.04, macos-15 ]
        node: [ 20, 22 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm install --force -g grunt-cli
      - run: grunt
